body{
    margin: 5%;
}

.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
}

h1 {
    text-align: center;
}
.digital, .art, .accounting, .photo, .copywrite, .music, .human, .more {
    padding: 25px;
    width: 17%;
    margin-bottom: 42px;
}

.digital, .art, .accounting, .photo, .copywrite, .music, .human {
    background-color: bisque;
}

.digital, .art, .accounting, .photo, .copywrite, .music, .human {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 2px;
    text-align: start;
}

.digital, .art, .accounting, .photo, .copywrite, .music, .human, p {
    color: grey;
    text-align: start;
}
.more {
    background-color: orange;
    color: white;
}

.more {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 2px;
    text-align: start;
}

@media (max-width: 767px) {
    .digital, .art, .accounting, .photo, .copywrite, .music, .human, .more {
      width: 100%;
      padding: 20px;
      margin-bottom: 10px;
    }
  }